<div class="trip-flights">
    <form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)="addFlight(f.value)">
        <div class="from-to">
            <div class="form-group from">
                <label>From</label>
                <input class="form-control" name="startAddress" type="text" maxlength="30" required placeholder="Russia"
                       [(ngModel)]="flight.start_address"/>

                <label>Departure Time</label>
                <input class="form-control" name="startTime" type="datetime-local" required
                       placeholder="2017-05-29T10:25:OOZ" [(ngModel)]="flight.start_time"/>
            </div>
            <div class="form-group to">

                <label>To</label>
                <input class="form-control" name="destinationAddress" type="text" maxlength="30" required
                       placeholder="Italy" [(ngModel)]="flight.destination_address"/>

                <label>Arrival Time</label>
                <input class="form-control" name="endTime" type="datetime-local" required
                       placeholder="2017-05-29T10:25:OOZ" [(ngModel)]="flight.end_time"/>
            </div>
        </div>

        <div class="form-group">
            <div >
                <label>Price</label>
                <input class="form-control" name="price" type="text" maxlength="5" placeholder="5200"
                       [(ngModel)]="flight.price"/>
            </div>
            <div >
                <label>Distance</label>
                <input class="form-control" name="distance" type="text" maxlength="5" placeholder="451"
                       [(ngModel)]="flight.distance"/>
            </div>
            <div>
                <label>Ticket</label>
                <input id = "photo" type="file" (change)="upload()"/>
                <a href="{{pathToTicket}}" target="_blank"><img src="{{pathToTicket}}" style="height: 50px; width: 100px"/></a>
            </div>
            <div>
                <label>Description</label>
                <textarea class="form-control" style="width: 400px; resize: none" maxlength="100" name="description"
                          [(ngModel)]="flight.description"></textarea>
            </div>
        </div>



        <div class="form-group" style="margin-top: 10px; display:block">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
