<div class="container">
  <div class="row">

    <div class="planning col-md-3">
      <div class="sidebar-img">
        <label class="trip-avatar trip-avatar">
          <img src="{{pathToPhoto}}" class="img-circle image">
        </label>
      </div>

      <div>
        <button (click)="setVisible()" style="height: 40px;" class="btn btn-primary button-menu">Trip info
          <i class="fa fa-caret-right" style="float: right;padding-top: 4px;"></i></button>
        <div class="sidebar-planning">
          <ul class="nav nav-pills nav-stacked">
            <div *ngFor="let day of days;">
              <button [class.selected]="day === selectedDay" (click)="onSelect(day)"
                      (click)="setVisible2()"
                      class="btn btn-default button-menu" [disabled]="flagOne">
                {{day.name | date:"dd.MM.yyyy"}}
              </button>
            </div>
          </ul>
        </div>
      </div>
      <div style="padding-top: 2px; padding-left: 6px">
      </div>
    </div>

    <div class="planning-info col-md-9 col-xs-9">
      <div *ngIf="visible">
        <div class="container-fluid" style="margin-top: 25px">
          <div>
            <form class="form-horizontal" #f="ngForm" *ngIf="trip" novalidate>
              <div class="form-group">
                <h4 class="trip-label">Trip name</h4>
                <div class="trip-input">
                  <input disabled type="text" style="width: 70%"
                          class="form-control" name="name"
                         placeholder="Trip name" [(ngModel)]="trip.name">
                </div>
              </div>
              <div class="form-group">
                <h4 class=" trip-label">Start date</h4>
                <div class="trip-input" style="margin-left: 115px">
                  <datetime [readonly]="true" [timepicker]="false" [datepicker]="{ icon: 'fa fa-calendar' }"
                            [(ngModel)]="trip.startDate"  name="startDate">
                  </datetime>
                </div><!-- /input-group -->

              </div>
              <div class="form-group">
                <h4 class=" trip-label">End date</h4>
                <div class="trip-input" style="margin-left: 115px">
                  <datetime [readonly]="true" [timepicker]="false" [datepicker]="{ icon: 'fa fa-calendar' }"
                            [(ngModel)]="trip.endDate"  name="endDate">
                  </datetime>
                </div><!-- /input-group -->

              </div>
              <div class="form-group">
                <h4 class=" trip-label">Info</h4>
                <div class="trip-input">
                    <textarea disabled class="form-control" rows="7" maxlength="150" placeholder="Info"
                              style="width: 400px; resize: none" name="info" [(ngModel)]="trip.info">
                    </textarea>
                </div><!-- /input-group -->
              </div>
            </form>
          </div>
        </div>
      </div>

      <div *ngIf="visible2">
        <div *ngIf="selectedDay">
          <div>
            <h3 style="text-align: center">Day {{selectedDay.id}} : {{selectedDay.name | date
              :'fullDate'}}</h3>
          </div>
          <div class="activities">
            <div class="panel-group" style="margin-bottom: 10px" id="accordion"
                 *ngFor="let action of selectedDay.action; let i = index">
              <div *ngIf="isActivity(action)" class="panel panel-default">
                <div class="panel-heading" style="min-height: 55px">
                  <div class="col-md-8" style="padding-top: 10px">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#{{i+1}}">
                        Start time: {{action?.startTime | date :'HH:mm'}}
                        Name: {{action?.name}}
                      </a>

                    </h4>
                  </div>
                  <div class="col-md-4" style="text-align: right; margin-top:10px">
                    <i *ngIf="action.activityType.name == 'lodging'" class="fa fa-bed fa-lg"
                       aria-hidden="true"></i>
                    <i *ngIf="action.activityType.name == 'sight'"
                       class="fa fa-map-marker fa-lg"
                       aria-hidden="true"></i>
                  </div>
                </div>

                <div id="{{i+1}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal" #someForm="ngForm">
                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Name: </h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.name"
                                 class="form-control"
                                 type="text" id="name" name="name">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Start date:</h4>
                        </div>
                        <div class="col-md-9">
                          <div style="padding-left: 15px">
                            <datetime [(ngModel)]="action.startTime" id="startTime"
                                      name="startTime"
                                      style="margin-bottom:5px" [readonly]="true"
                                      [timepicker]="{ icon: 'fa fa-clock-o' }"
                                      [datepicker]="{ icon: 'fa fa-calendar' }"></datetime>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>End date:</h4>
                        </div>
                        <div class="col-md-9">
                          <div style="padding-left: 15px">
                            <datetime  [(ngModel)]="action.endTime" id="endTime"
                                       name="endTime" [readonly]="true"
                                       [timepicker]="{ icon: 'fa fa-clock-o' }"
                                       [datepicker]="{ icon: 'fa fa-calendar' }"></datetime>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Address:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.address"
                                 class="form-control"
                                 type="text" id="address" name="address">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Price:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.price"
                                 class="form-control"
                                 type="text" id="price"
                                 name="price">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Description:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.description"
                                 class="form-control"
                                 type="text"
                                 id="description"
                                 name="description">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>


              <div *ngIf="isMovement(action)" class="panel panel-default">
                <div class="panel-heading" style="min-height: 55px">
                  <div class="col-md-8" style="padding-top: 10px">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#{{i+1}}">
                        Start time: {{action?.startTime | date :'HH:mm' }}
                        Start address: {{action?.startAddress}}
                      </a>
                    </h4>
                  </div>
                  <div class="col-md-4" style="text-align: right">
                    <div style="margin-top:10px" >
                      <i *ngIf="action.transport.name == 'car'" class="fa fa-car fa-lg"
                         aria-hidden="true"></i>
                      <i *ngIf="action.transport.name == 'plane'" class="fa fa-plane fa-lg"
                         aria-hidden="true"></i>
                      <i *ngIf="action.transport.name == 'rail'" class="fa fa-train fa-lg"
                         aria-hidden="true"></i>
                      <i *ngIf="action.transport.name == 'bus'" class="fa fa-bus fa-lg"
                         aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div id="{{i+1}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal" #movementForm="ngForm">
                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Start date:</h4>
                        </div>
                        <div class="col-md-9">
                          <div style="padding-left: 15px">
                            <datetime [(ngModel)]="action.startTime" id="startTime"
                                      name="startTime"
                                      style="margin-bottom:5px" [readonly]="true"
                                      [timepicker]="{ icon: 'fa fa-clock-o' }"
                                      [datepicker]="{ icon: 'fa fa-calendar' }"></datetime>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>End date:</h4>
                        </div>
                        <div class="col-md-9">
                          <div style="padding-left: 15px">
                            <datetime  [(ngModel)]="action.endTime" id="endTime"
                                       name="endTime" [readonly]="true"
                                       [timepicker]="{ icon: 'fa fa-clock-o' }"
                                       [datepicker]="{ icon: 'fa fa-calendar' }"></datetime>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Start address:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.startAddress"
                                 class="form-control"
                                 type="text" id="startAddress" name="startAddress">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Destination address:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.destinationAddress"
                                 class="form-control"
                                 type="text" id="destinationAddress"
                                 name="destinationAddress">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Price:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.price"
                                 class="form-control"
                                 type="text" id="price"
                                 name="price">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Distance:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.distance"
                                 class="form-control"
                                 type="text" id="distance"
                                 name="distance">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-3">
                          <h4>Description:</h4>
                        </div>
                        <div class="col-md-9">
                          <input disabled [ngModel]="action?.description" class="form-control"
                                 type="text" id="description" name="description">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
